h4{
    color: red;
    font-family: monospace;
}
#myDiv{
    background-color: gray;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    height: 10cm;
}
#Gl{
    background-color: bisque;
    width: 250px;
    border-radius: 20px;
}
b{
    color: blue;
}
h5{
    color: cornsilk;
}